<!doctype html>
<html lang="kr" xml:lang="kr"  data-ng-app="egovTestApp" data-ng-controller="AppController" class="no-js ng-scope">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1;text/html; charset=utf-8;" />
    <meta name="viewport" content="width=device-width">
        <!-- <meta name="fragment" content="!"> -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <title>eGovNg-Sample</title>

    <!-- 기본CSS -->
    <!--<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/dist/css/bootstrap.css" />-->
    
    <!-- CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

    <script src="../src/comm/services/common.js"></script>

    <script src="../vendor/d3/d3.js"></script>
    <script src="../vendor/nvd3/nv.d3.js"></script>
    <script src="../src/chart/directives/chart.js"></script>
    <!-- <script src="../src/chart/directives/nv.test.js"></script> -->
    <!-- <script src="../vendor/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script> -->

    <!-- <script src="../vendor/jquery.easy-pie-chart/dist/angular.easypiechart.js"></script> -->

    <!--<link rel="stylesheet" type="text/css" href="css/app.css" />-->
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../vendor/angularjs-nvd3-directives/examples/stylesheets/nv.d3.css"/>


    <!--<script src="js/mainApp.js"></script> -->
    

    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="assets/js/external/flotChart/excanvas.min.js"></script><![endif]-->
    <style type="text/css" media="screen">
        .easyPieChart {
            position: relative;
            text-align: center;
        }

        .easyPieChart canvas {
            position: absolute;
            top: 0;
            left: 0;
        }
        .percentage,
        .label {
            text-align: center;
            color: #333;
            font-weight: 100;
            font-size: 1.2em;
            margin-bottom: 0.3em;
        }
    </style>
</head>

<body class="container">
    <div class="row">
        <!-- header Server Statictics -->
        <div class="col-md-12">
            <h3>Server Statictics</h3>
            <div class="row" height="150px">
                <div class="col-md-2">
                    <egov-pie-chart
                            data="s1"
                            id="s1"
                            width="180"
                            height="130"
                            x="xFunction()"
                            y="yFunction()"
                            margin="{left:0,top:0,bottom:0,right:0}"
                            showLabels="true"
                            labelType="percent"
                            donut="true"
                            donutRatio=".5"
                            donutLabelsOutside="true"
                            >
                                <svg height="130"></svg>
                        </nvd3-pie-chart>
                </div>
                <div class="col-md-2">
                    <div class="percentage easyPieChart" 
                        egov-easy-pie-chart="scaleColor:false;
                              lineWidth:16;
                              lineCap:square;
                              size:110;
                              trackColor:#e5e5e5;
                              barColor:#3da0ea" 
                        percent="percent1" 
                        style="width: 110px; height: 110px; line-height: 110px;">
                    </div>
                    
                    <!-- <input type="range" min="0" max="100" step="1" ng-model="percent" /> -->
                </div>
                <div class="col-md-2">
                    <div class="percentage easyPieChart" 
                        egov-easy-pie-chart="scaleColor:false;
                              lineWidth:16;
                              lineCap:square;
                              size:110;
                              trackColor:#e5e5e5;
                              barColor:#e88c08" 
                        percent="percent2" 
                        style="width: 110px; height: 110px; line-height: 110px;">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="percentage easyPieChart" 
                        egov-easy-pie-chart="scaleColor:false;
                              lineWidth:16;
                              lineCap:square;
                              size:110;
                              trackColor:#e5e5e5;
                              barColor:#b9d000" 
                        percent="percent3" 
                        style="width: 110px; height: 110px; line-height: 110px;">
                    </div>
                </div>
                <div class="col-md-2">
                    5
                </div>
                <div class="col-md-2">
                    6
                </div>
            </div>
        </div>

        <!-- visits -->
        <div class="col-md-12" style="height:330px;">
            <h3>visits</h3>
            <div class="col-md-12">
                기준 정보 : 
                <select ng-model="selectType" ng-change="searchData()">
                    <option value="1">Year</option>
                    <option value="2">Month</option>
                    <option value="3">Day</option>
                </select>
                　　조회 조건 : 
                <select ng-model="year" ng-change="searchData()">
                    <option value="2010">2010년</option>
                    <option value="2011">2011년</option>
                    <option value="2012">2012년</option>
                    <option value="2013">2013년</option>
                </select>
                <select ng-model="month" ng-change="searchData()" ng-show="selectType != '1'">
                    <option value="1">1월</option>
                    <option value="2">2월</option>
                    <option value="3">3월</option>
                    <option value="4">4월</option>
                    <option value="5">5월</option>
                    <option value="6">6월</option>
                </select>
                <select ng-model="day" ng-change="searchData()" ng-show="selectType == '3'">
                    <option value="1">1일</option>
                    <option value="2">2일</option>
                    <option value="3">3일</option>
                    <option value="4">4일</option>
                    <option value="5">5일</option>
                    <option value="6">6일</option>
                </select>
            </div>
            <div class="col-md-12">
                <!-- <egov-stacked-area-chart -->
                <div egov-line2 
                    data="v1"
                    id="v1"
                    color="visitsColor()"
                    margin="{left:50,top:0,bottom:50,right:50}"
                    height="250"
                    xformat="xFunctionType()">
                        <svg></svg>
                </div>
            </div>
        </div>

        <!-- age /sex -->
        <div class="col-md-12">
            <div class="col-md-6">
                <h3>age</h3>
                <egov-pie-chart
                    data="dAge"
                    id="dAge"
                    width="200"
                    height="200"
                    x="xFunction()"
                    y="yFunction()"
                    margin="{left:0,top:0,bottom:0,right:0}"
                    showLabels="true"
                    labelType="percent"
                    showLegend="true"
                    donut="true"
                    donutRatio=".5"
                    donutLabelsOutside="true"
                    tooltips="true"
                    tooltipcontent="toolTipContentFunction()"
                    >
                        <svg height="200"></svg>
                </egov-pie-chart>
            </div>
            <div class="col-md-6">
                <h3>sex</h3>
                <egov-pie-chart
                    data="dSex"
                    id="dSex"
                    width="300"
                    height="200"
                    x="xFunction()"
                    y="yFunction()"
                    margin="{left:0,top:0,bottom:0,right:0}"
                    showLabels="true"
                    labelType="percent"
                    showLegend="true"
                    donut="true"
                    donutRatio=".5"
                    donutLabelsOutside="true"
                    tooltips="true"
                    tooltipcontent="toolTipContentFunction()"
                    >
                        <svg height="200"></svg>
                </egov-pie-chart>
            </div>
        </div>

    </div>
</body>
<script type="text/javascript">

var app = angular.module("egovTestApp", ['egov.ui.chart']);

function AppController($scope){

    $scope.year = "2013";
    $scope.month = "2";
    $scope.day = "3";
    $scope.selectType = "1";

    // chart data 생성
    function getData(){
        $scope.v1 = [
            {"key": "Series 1", "values":  [ [1, 51], [2, 71], [3, 101], [4, 81], [5, 151], [6, 14] ], area: true },
            {"key": "Series 2", "values":  [ [1, 115], [2, 110], [3, 112], [4, 118], [5, 115], [6, 114] ] }
        ];
        $scope.s1 = [
            {key: "One", y: 58},
            {key: "Two", y: 42 }
        ];

        $scope.percent1 = "58";
        $scope.percent2 = "43";
        $scope.percent3 = "91";


        $scope.dAge = [
            {key: "10이하", y: 62},
            {key: "10대", y: 1522},
            {key: "20대", y: 3540},
            {key: "30대", y: 2813},
            {key: "40대", y: 988},
            {key: "50대", y: 120 },
            {key: "50이상", y: 30 }
        ];

        $scope.dSex = [
            {key: "남자", y: 152},
            {key: "여자", y: 58}
        ];
        
    };

    // 년도별 정보 조회
    $scope.searchData = function(){
        if($scope.selectType == '1') {
            // 년 조회 -> 해당 연도 12 개월 정보 조회 
            $scope.v1 = [
                {"key": "Series 1", "values":  [ [1, 51], [2, 71], [3, 101], [4, 81], [5, 151], [6, 14] ] , "area":true},
                {"key": "Series 2", "values":  [ [1, 115], [2, 110], [3, 112], [4, 118], [5, 115], [6, 114] ] }
            ];
        }else if($scope.selectType == '2'){ 
            // 월 조회 -> 해당 월 일 정보 조회
            $scope.v1 = [
                {"key": "Series 1", "values":  [ [1, 51], [2, 71], [3, 101], [4, 81], [5, 151], [6, 41] ] },
                {"key": "Series 2", "values":  [ [1, 151], [2, 101], [3, 121], [4, 181], [5, 51], [6, 141] ] }
            ];
        }else{
            // 일 조회 -> 해당 일의 시간별 정보 조회
            $scope.v1 = [
                {"key": "Series 1", "values":  [ [1, 2], [2, 4], [3, 5], [4, 4], [5, 2], [6, 4] ] },
                {"key": "Series 2", "values":  [ [1, 3], [2, 4], [3, 6], [4, 1], [5, 5], [6, 8] ] }
            ];
        }
    }


    // chart axis 설정
    $scope.xFunction = function(){
        return function(d){
            return d.key ;
        }
    }
    $scope.yFunction = function(){
        return function(d){
            return d.y;
        }
    }

    $scope.xFunctionType = function(){
        return function(d){
            var str = "시";
            if($scope.selectType == '1') {
                str = "월";
            }else if($scope.selectType == '2') {
                str = "일";
            }
            return d + str;
        }
    }

    // 차트 툴팁 생성
    $scope.toolTipContentFunction = function(){
        return function(key, x, y, e, graph) {
            //console.log(key, x, y, e, graph);
            return  'Super New Tooltip' +
                '<h1>' + key + '</h1>' +
                '<p>' +  y + ' at ' + x + '</p>';
        }
    }

    // 차트 색상
    $scope.visitsColor = function(){
        return [
            "#eac85e", "#cf6d51"
        ];
    }
    
    // 초기화 - data 처리
    getData();
}

</script>
</html>